<!-- Header -->
<header id="timeline-header">
  <span class="title" v-show="!openedMenu">{{timelineName}}</span>
  <input type="input" id="title" class="form-element-title" v-show="openedMenu" v-model="newTimelineName">
  <span style="position: relative; float: right">
   <span id="timeline-show" class="showFormSpan fa fa-bars fa-2x" @click="showMenu()"></span>
  </span>
</header>


<!-- Timeline -->
<div id="timeline-embed" style="position:absolute"></div>

<div class="panel visible" id="navPanel">
  <div  id="close" class="tooltip fa fa-times fa-2x" @click="hideMenu();updateTimelineTitle()"></div>
  <div class="section" style="height:435px">


    <!-- 1 BOUTON LIST CACHÉ CAR MIS SUR LA HOME
    <div class="timeline-menu-token tooltip fa fa-close fa-2x" style="display:none"></div>
    <div class="timeline-menu-token tooltip" v-show="cookieTimelines.length != 0">
      <img src="/images/list.svg">
      <p class="tooltipname">List</p>
      <div class="tooltipcontent">
      <div class="tooltiptitle">{{timelineListText}}</div>

        <ul>
          <li class="croptoken" v-for="item in cookieTimelines">
            <div style='float: left; display: inline-block'>
            <a class="TooltipImgLink" :href="item.url">
            <span v-show='item.filterId==currentTimeline'>(Here)</span>
            {{item.name}}
          </a>
          <img
          @click='removeTimeline(item.id)'
          src="/images/trash.svg">
	    </div>

	  </li>
        </ul>
      </div>

    </div>
    -->


    <!-- 1 BOUTON LIST CACHÉ CAR MIS SUR LA HOME
    <div
      class="timeline-menu-token tooltip"
      @click='removeTimeline(currentTimeline)'>
      <img src="/images/trash.svg">
      <p class="tooltipname">Delete</p>

    </div> -->



    <!-- MENU CREATE -->

    <div class="timeline-menu-token tooltip" @click="showForm(true)">
      <img src="/images/add.svg"><p class="tooltipname">Add<br>event</p>
    </div>
    <!-- FIN MENU CREATE -->

    <!-- MENU EDIT -->
    <div
      class="timeline-menu-token tooltip"
      v-show="events.length != 0"
      @click="showForm(false)">
      <img src="/images/edit.svg"><p class="tooltipname">Edit<br>event</p>
    </div>
    <!-- FIN MENU EDIT -->
    <!-- Filter -->

    <div
      class="timeline-menu-token tooltip"
      v-show="events.length != 0">
      <img src="/images/filter.svg"><p class="tooltipname">Filter</p>
      <div class="tooltipcontent tooltipcontentUP">
  <div class="panel-default filtering-form">
    <div class="navbar">

      <ul class="inline">
        <li id="filter-categories" class="active" >
          <div>Categories</div>
        </li>
        <li id="filter-ponderation">
          <div>Ponderation</div>
        </li>
        <li id="filter-other">
          <div>Other</div>
        </li>
      </ul>
    </div>
    <div id="filter-categories-content">
      <div>
      <div class="tooltiptitle">Categories:</div>
      <div v-for="category in categories">
        <div>
          <input type="checkbox" v-model="category.checked">
          {{category.catName}}
        </div>
      </div>
      </div>
      <div>
        <div class="tooltiptitle"><br>Ponderation:</div>
        From <input type="number" v-model="minPonderationFilter">
        to <input type="number" v-model="maxPonderationFilter">
        <br>
      </div>
      <!-- CONFIDENTIAL
      <div> <br>
        <div class="tooltiptitle">Confidential:</div>
      <input type="checkbox" v-model="alsoConfidential">
      {{confidentialFilterForm}}
    </div> --><br>
    </div>
    <div id="filter-ponderation-content" style="display:none">
    </div>

    <div id="filter-other-content" style="display:none">
    </div>

<div class="buttontooltip" @click="filter()">{{filterButtonText}}</div>
  </div>
      </div>
    </div>
    <div class="navPanel1">
</div>
<div class="navPanel2">
    <!-- MENU HOME -->
    <div class="timeline-menu-token tooltip"> <a href="/">
      <img src="/images/home.svg"><p class="tooltipname">Home</p></a>
    </div>
    <!-- FIN MENU HOME -->


    <!-- MENU SHARE -->
    <div class="timeline-menu-token tooltip" v-show="filters.length != 0">
      <img src="/images/share.svg">
      <p class="tooltipname">{{exportButton}}</p>
      <div class="tooltipcontent tooltipcontentDOWN" style="width:20em"><div class="tooltiptitle">{{exportButton}}</div>
	<ul>
          <li class="croptoken" v-for="filter in filters">
	    <div>

	      <div>
		<span v-show='!filter.isEditing'> {{filter.pretty}} </span>
		<input type='text' class="form-element-ADD-text" v-model='filter.pretty' v-show='filter.isEditing'>
		<span v-show='filter.filterId==currentTimeline'> (You) </span>
	      </div>

	      <div style='float: left; display: inline-block'>
		<span class="tooltip" v-show="displayTokenFilter(filter)">
		  <span class="tooltipcontent">
                    <ul>
                      <li>
			<span> {{confidentialFormTitle}}: {{filter.confidential_rights}}
			</span>
                      </li>
                      <li v-show="filter.filterCategories"> {{categoriesText}}:
			<ul>
			  <li v-for="cat in filter.filterCategories">
			    <span>{{cat}}</span>
			  </li>
			</ul>
                      </li>
                      <li v-show="filter.min_level !== undefined || filter.max_level !== undefined">
			{{ponderationText}}: {{betweenText}} {{filter.min_level}} {{andText}} {{filter.max_level}}
                      </li>
                    </ul>
                  </span>
		</span>
		<img
		  src="/images/edit.svg"
		  @click="filter.isEditing=true"
		  v-show="!filter.isEditing"
		  :title="filterEditAliasHelp"
      style="cursor: pointer"
		  >
		<img
		  src="/images/check.svg"
		  @click=      "editAlias(filter);filter.isEditing=false"
		  @keyup.enter="editAlias(filter);filter.isEditing=false"
		  v-show="filter.isEditing"
		  :title="filterEditAliasHelp"
      style="cursor: pointer"
		  >
		<img
		  @click='copyLink(filter.readonly, filter.filterId)'
		  src="/images/link.svg"
		  :title="filterCopyLinkHelp"
      style="cursor: pointer"
		  >
		<img
		  v-show='filter.readonly'
		  @click='setTokenAsEdition(filter.filterId);'
		  src="/images/view.svg"
		  :title="filterReadonlyTokenHelp"
      style="cursor: pointer"
      >
		<img
		  v-show='!filter.readonly'
		  @click='setTokenAsReadOnly(filter.filterId);'
		  src="/images/hand-write.svg"
		  :title="filterAdminTokenHelp"
      style="cursor: pointer"
      >
		<img
		  @click='removeToken(filter.filterId)'
		  src="/images/trash.svg"
		  :title="filterRemoveTokenHelp"
      style="cursor: pointer"
      >
              </div>
	    </div>
          </li>
        </ul>

	<div>
          <div class="buttontooltip" @click="addEditionToken()"> {{addEditionTokenButton}}
          </div>
        </div>

      </div>

    </div>

    <!-- FIN MENU SHARE -->

    <!-- MENU FILES

    <div class="timeline-menu-token tooltip">
      <img src="/images/upload.svg">

      <p class="tooltipname">Files</p>

      <div class="tooltipcontent">

s
	<div class="tooltiptitle">
	  Export<br/>
	  <div class="buttontooltip" @click="exportTimeline()">csv</div>
	</div>

	<div class="tooltiptitle">
	  Import <br/>
	  <div class="buttontooltip" style="position: relative">
	    <input type="file" style="opacity: 0.0; width: 100%; height: 100%; position: absolute; right:0px; cursor: pointer; top:0em" id="import-form" @change="importTimeline()">
	    csv
	  </div>
	</div>
      </div>
    </div>

    <!-- FIN MENU FILES -->
  </div>
  </div>
</div>


<!-- PANEL AJOUT EVENT Taken from https://codepen.io/jonnitto/project/editor/XRPjxx -->
<div class="panel" id="formPanel">
  <form class="form-card">
    <fieldset class="form-fieldset">

      <legend class="form-legend" style="width:100%;">
	<span style="float: left">
	  <span v-if="addingNewEvent">{{formNameAdding}}</span>
	  <span v-else> {{formNameEditing}}</span>
	</span>
	<span style="float: right">
	  <span @click=addEvent(addingNewEvent) class="clickable fa fa-save fa-lg" style="right: 40px">
      <p class="tooltipname">Save</p></span>
	  <span v-show="!addingNewEvent" @click=removeFromForm() class="clickable fa fa-trash fa-lg" style="right: 80px"><p class="tooltipname">Delete</p></span>
	  <span @click=hideForm() class="clickable fa fa-close fa-lg"><p class="tooltipname">Cancel</p></span>
	</span>
      </legend>


      <!-- TITLE -->
      <div class="form-element form-input">
	<input
    id="start-date"
    class="form-element-ADD-text -hasvalue"
    :placeholder="new Date()"
    type="date"
    v-model="startDateFormValue"
    required/>
	<input
    id="end-date"
    class="form-element-ADD-text -hasvalue"
    placeholder=" "
    type="date"
    v-model="endDateFormValue" />
    <input
      id="field-omv6eo-metm0n-5j55wv-w3wbws-6nm2b9"
      class="form-element-ADD-text input-weight"
      placeholder="Weight"
      v-model.number="ponderationFormValue"
      type="number" required/><img src="/images/weight.svg" style="height:1.5em">
    <label class="form-element-label" for="field-omv6eo-metm0n-5j55wv-w3wbws-6nm2b9">
    </label>

    <!-- CONFIDENTIAL : PAS PRÊT
    <label class="form-checkbox-label">
      <input
  class="form-checkbox-field"
  type="checkbox"
  v-model="confidentialFormValue"
  />
      <i class="form-checkbox-button"></i>
      <span>{{confidentialFormTitle}}</span>
    </label> -->
	<input
    id="title"
    class="form-element-ADD-title"
    :placeholder="headlineFormHelp"
    type="input"
    v-model="headlineFormValue"
    @keyup="updateDefaultId()"
    required/>
	<textarea
	  id="field-3naeph-0f3yuw-x153ph-dzmahy-qhkmgm"
	  class="form-element-ADD-text"
	  :placeholder="textFormHelp"
	  v-model="textFormValue"></textarea>
  <input
	  id="media"
	  style="width:100%"
	  class="form-element-ADD-text"
	  :placeholder="mediaFormHelp"
	  type="link"
	  v-model="mediaFormValue" required/>
	<select
	  id="category-select-form"
	  :placeholder="categoriesFormHelp"
	  class="form-element-ADD-text"
	  v-model="categoriesFormValue">
	  <option v-for="item in categories" :key="item.id" :value="item.catName">
	    {{item.catName}}
	  </option>
	  <option value="__other__category__">...️</option>
	</select>
	<input
	  type="text"
	  placeholder="Name this new category"
	  class="form-element-category"
	  v-model="otherCategoryFormValue"
	  v-show="categoriesFormValue=='__other__category__'">
    </div>
    </fieldset>

    <!-- TAGS
	 <div class="form-element form-input">
	   <input
	     id="tags"
	     class="form-element-field"
	     placeholder=" "
	     type="link"
	     v-model="tagsFormValue"
	     :placeholder="tagsFormHelp"
	     required/>
           <div class="form-element-bar"></div>
           <label class="form-element-label" for="field-3naeph-0f3yuw-x153ph-dzmahy-qhkmgm">
	     {{tagsFormTitle}}
	   </label>
	 </div> -->

	      <!-- CONFIDENTIAL (FEATURE NON PRETE) -->
		   <div class="form-checkbox form-checkbox-inline">


		   </div>


		   <!-- URL (FEATURE NON PRETE)
			<div class="form-element form-input">
			  <input
			    id="unique-id-default-form"
			    class="form-element-field"
			    :placeholder="uniqueIdFormHelp"
			    v-model="uniqueIdFormValueDefault"
			    type="input"
			    @click="switchToMainInput()"
			    />
			  <input
			    id="unique-id-form"
			    class="form-element-field"
			    :placeholder="uniqueIdFormHelp"
			    v-model="uniqueIdFormValue"
			    type="input"
			    @change="switchToDefaultInput()"
			    style="display:none"
			    required/>
			  <div class="form-element-bar">
			  </div>
			  <label class="form-element-label" for="unique-id">{{uniqueIdFormTitle}}</label>

			</div> -->

			<!-- FIN DU FORMULAIRE -->
  </form>
</div>
