
<!-- Header -->
<header id="timeline-header">
  <span class="title">{{timelineName}}</span>
  <span style="position: relative; float: right">
    <span id="timeline-show" class="showFormSpan fa fa-bars fa-2x" @click="showMenu()"></span> </span>
</header>

<!-- Timeline -->
<div id="timeline-embed" style="height: 600px;"></div>

<div class="panel" id="navPanel">
  <div class="tooltip fa fa-times fa-2x" id="close" @click="hideMenu()">
  </div>
  <div class="section" style="height:435px">
    <div class="timeline-menu-token tooltip fa fa-times fa-2x" style="visibility:hidden">
      <!-- Todo -->
    </div>
    <div
      class="timeline-menu-token tooltip"
      v-show="filters.length != 0">
      <img src="/images/share.svg">
      <div class="tooltipcontent" style='width:40em'>
	<ul>
	  <tokens
            v-for="filter in filters"
	    v-bind:token="filter"
	    v-bind:key="filter.id">
	  </tokens>
	</ul>
	<div>
	  <div class='button' @click="addEditionToken()">
            Add edition token
	  </div>
	  <div class='button' @click="addReadOnlyToken()">
            Add readonly token
	  </div>
	</div>
      </div>
    </div>
    <div class="timeline-menu-token tooltip">
      <img src="/images/upload.svg">
      <div class="tooltipcontent">
	<div>
	  Export <br/>
	  <div class="button" @click="exportTimeline()">csv</div>
	</div>
	<div>
	  Import <br/>
	  <div class="button" style="position:relative; line-height: 0px">
	    <input type="file" style="opacity: 0.0; width: 100%; height: 100%; position: absolute; right:0px; cursor: pointer; top:0em" id="import-form" @change="importTimeline()">
	    csv
	  </div>
	</div>
      </div>
    </div>
    <div class="timeline-menu-token tooltip fa fa-times fa-2x" style="visibility:hidden">
      <!-- Todo -->
    </div>
  </div>
  <div class="section">
    <div class="timeline-menu-token tooltip fa fa-times fa-2x" style="visibility:hidden">
      <!-- Todo -->
    </div>
    <div class="timeline-menu-token tooltip" @click="showForm(true)">
      <img src="/images/add.svg">
      <div class="tooltipcontent">
	{{formNameAdding}}
      </div>
    </div>
    <div
      class="timeline-menu-token tooltip fa fa-pencil fa-2x"
      @click="showForm(false)"
      v-show="events.length != 0"
      >
      <div class="tooltipcontent">
	{{updateEventButtonText}}
      </div>
    </div>
    <div
      class="timeline-menu-token tooltip"
      v-show="events.length != 0 && false">
      <img src="/images/filter.svg">
      <div class="tooltipcontent">
	Filtrer
      </div>
    </div>
    <div
      v-show="events.length != 0"
      class="timeline-menu-token tooltip fa fa-trash fa-2x"
      @click='removeEvent(currentEvent)'>
      <div class="tooltipcontent">
	{{removeButton}}
      </div>
    </div>
  </div>
</div>

<!-- Taken from https://codepen.io/jonnitto/project/editor/XRPjxx -->
<div class="panel" id="formPanel">
  <form class="form-card">
    <fieldset class="form-fieldset">
      <legend class="form-legend">
	<span v-if="addingNewEvent">{{formNameAdding}}</span>
	<span v-else> {{formNameEditing}}</span>
	<span @click=hideForm() class="close fa fa-close fa-2x" style="float: right"></span>
      </legend>
      
      <!-- TITLE -->    
      <div class="form-element form-input">
	<input
	  id="title"
	  class="form-element-field"
	  :placeholder="headlineFormHelp"
	  type="input"
	  v-model="headlineFormValue"
	  required/>
	<div class="form-element-bar">
	</div>
	<label class="form-element-label" for="title">{{headlineFormTitle}}</label>
      </div>
      
      <div class="top-row">	
	<!-- Start date -->         
	<div class="form-element form-input 4u">
	  <input
	    id="start-date"
	    class="form-element-field -hasvalue"
	    :placeholder="new Date()"
	    type="date"
	    v-model="startDateFormValue"
	    required/>
	  <div class="form-element-bar"></div>
	  <label class="form-element-label" for="start-date">{{startDateFormTitle}}</label>
	</div>
	
	<!-- End date -->         
	<div class="4u"><div class="form-element form-input">
	    <input
	      id="end-date"
	      class="form-element-field -hasvalue"
	      placeholder=" "
	      type="date"
	      v-model="endDateFormValue"
	      />
	    <div class="form-element-bar"></div>
	    <label class="form-element-label" for="end-date">{{endDateFormTitle}}</label>
	  </div>
	</div>
      </div>
      
      <!-- Media -->   
      <div class="form-element form-input">
        <input
	  id="media"
	  class="form-element-field"
	  placeholder=" "
	  type="link"
	  v-model="mediaFormValue"
	  required/>
        <div class="form-element-bar"></div>
        <label class="form-element-label" for="media">{{mediaFormTitle}}</label>
        <small class="form-element-hint">{{mediaFormHelp}}{{mediaLink}}</small>
      </div>
      
      <!-- DESCRIPTION -->   
      <div class="form-element form-textarea">
        <textarea
	  id="field-3naeph-0f3yuw-x153ph-dzmahy-qhkmgm"
	  class="form-element-field"
	  :placeholder="textFormHelp"
	  v-model="textFormValue"></textarea>
        <div class="form-element-bar"></div>
        <label class="form-element-label" for="field-3naeph-0f3yuw-x153ph-dzmahy-qhkmgm">{{textFormTitle}}</label>
      </div>    
      

      <!-- CATEGORIES, TODO -->
      <!--
	  <div class="form-element form-select">
            <select id="field-be1h8i-ll2hpg-q4efzm-nfjj1e-udkw5r" class="form-element-field">
              <option disabled selected value="" class="form-select-placeholder"></option>
              <option value="Rap">Rap</option>
              <option value="Pop">Pop</option>
              <option value="Rock">Rock</option>
              <option value="Metal">Metal</option>
              <option value="R&amp;B">R&amp;B</option>
              <option value="__other__">New event</option>
            </select>
            <div class="form-element-bar"></div>
            <label class="form-element-label" for="field-be1h8i-ll2hpg-q4efzm-nfjj1e-udkw5r">Select the categorie of this event</label>
	  </div>
	  -->
      <!-- TAGS -->   
      <div class="form-element form-input">
        <input
	  id="tags"
	  class="form-element-field"
	  placeholder=" "
	  type="link"
	  v-model="tagsFormValue"
	  :placeholder="tagsFormHelp"
	  required/>
        <div class="form-element-bar"></div>
        <label class="form-element-label" for="field-3naeph-0f3yuw-x153ph-dzmahy-qhkmgm">
	  {{tagsFormHelp}}
	</label>
        <!-- <small class="form-element-hint">Separate with commas</small> -->
      </div>   
      
      <!-- Weight -->         
      <div class="form-element form-input">
	<input
	  id="field-omv6eo-metm0n-5j55wv-w3wbws-6nm2b9"
	  class="form-element-field"
	  :placeholder="ponderationFormHelp"
	  v-model="ponderationFormValue"
	  type="number" required/>
	<div class="form-element-bar">
	</div>
	<label class="form-element-label" for="field-omv6eo-metm0n-5j55wv-w3wbws-6nm2b9">
	  {{ponderationFormTitle}}
	</label>
      </div>
      
      <!-- CONFIDENTIAL -->   
      <div class="form-checkbox form-checkbox-inline">
	<label class="form-checkbox-label">
          <input
	    class="form-checkbox-field"
	    type="checkbox"
	    v-model="confidentialFormValue"
	    />
          <i class="form-checkbox-button"></i>
          <span>{{confidentialFormTitle}}</span>
        </label>
        <small class="form-element-hint">{{confidentialFormHelp}}</small>
	
      </div>
      
      
      <!-- URL -->    
      <div class="form-element form-input">
	<input
	  id="unique-id"
	  class="form-element-field"
	  :placeholder="uniqueIdFormHelp"
	  v-model="uniqueIdFormValue"
	  type="input" required/>
	<div class="form-element-bar">
	</div>
	<label class="form-element-label" for="unique-id">{{uniqueIdFormTitle}}</label>
	<small class="form-element-hint">{{uniqueIdFormHelp}}</small>
      </div>
      
      <!-- FIN DU FORMULAIRE -->   

      
    </fieldset>    
    <div class="form-actions">
      <div
	class="button special"
	id="edit-add"
	@click=addEvent(addingNewEvent)>
	<span v-if="addingNewEvent">{{addEventButtonText}}</span>
	<span v-else>{{updateEventButtonText}}</span>
      </div>
      <div class="button special" id="back-from-edit" @click=hideForm()>{{backButton}}</div>
      <div class="button special" v-show="!addingNewEvent" @click=removeFromForm()>
	{{removeButton}}
      </div>
      <span @click=hideForm() class="close"></span>
    </div>
  </form>
</div>
