<!-- Header -->
<header id="timeline-header">
  <span class="title" v-show="!openedMenu">{{timelineName}}</span>
  <input type="text" v-show="openedMenu" v-model="newTimelineName">
  <span style="position: relative; float: right">
    <span id="timeline-show" class="showFormSpan fa fa-bars fa-2x" @click="showMenu()"></span>
  </span>
</header>

<!-- Timeline -->
<div id="timeline-embed" style="height: 600px;"></div>

<div class="panel" id="navPanel">
  <div class="tooltip fa fa-times fa-2x" id="close" @click="hideMenu()"></div>
  <div class="section" style="height:435px">
    <!-- 1 -->
    <div class="timeline-menu-token tooltip fa fa-close fa-2x" style="display:none"></div>
    <div class="timeline-menu-token tooltip" v-show="cookieTimelines.length != 0">
      <img src="/images/list.svg">
      <p class="tooltipname">List</p>
      <div class="tooltipcontent">{{timelineListText}}
        <ul>
          <li class="croptoken" v-for="item in cookieTimelines">

            <div style='float: left; display: inline-block'>
	      <a class="TooltipImgLink" :href="item.url">
		<span v-show='filter.filter_id==currentTimeline'>(Here)</span>
		{{item.name}}
	      </a>
	      <img
		@click='editAlias(filter); filter.isEditing=!filter.isEditing'
		src="/images/edit.svg">
	      <img
		@click='removeTimeline(filter.filter_id)'
		src="/images/trash.svg">
	    </div>

	  </li>
        </ul>
      </div>

    </div>

    
    <div
      class="timeline-menu-token tooltip"
      @click='removeTimeline()'>
      <img src="/images/trash.svg">
      <p class="tooltipname">Delete</p>
      <div class="tooltipcontent">
	{{removeTimelineText}}
      </div>
    </div> 
    
    <!-- 2 -->
    <div class="timeline-menu-token tooltip" v-show="filters.length != 0">
      <img src="/images/share.svg">
      <p class="tooltipname">{{exportButton}}</p>
      <div class="tooltipcontent">{{exportButton}}
	<ul>
          <li class="croptoken" v-for="filter in filters">
	    <div>

	      <input type='text' v-model='filter.pretty' v-show='filter.isEditing'>

	      <span v-show='!filter.isEditing'> {{filter.pretty}} </span>

	      <span v-show='filter.filter_id==currentTimeline'> (You) </span>

	      <div style='float: left; display: inline-block'>
		<span class="tooltip" v-show="displayTokenFilter(filter)">
		  <span class="tooltipcontent">
                    <ul>
                      <li>
			<span> {{confidentialFormTitle}}: {{filter.confidential_rights}}
			</span>
                      </li>
                      <li v-show="filter.filterCategories"> {{categoriesText}}:
			<ul>
			  <li v-for="cat in filter.filterCategories">
			    <span>{{cat}}</span>
			  </li>
			</ul>
                      </li>
                      <li v-show="filter.min_level !== undefined || filter.max_level !== undefined">
			{{ponderationText}}: {{betweenText}} {{filter.min_level}} {{andText}} {{filter.max_level}}
                      </li>
                    </ul>
                  </span>
		</span>
		<img @click='copyLink(filter.readonly, filter.filter_id)' src="/images/link.svg">
		<img
		  v-show='filter.readonly'
		  @click='setTokenAsEdition(filter.filter_id);'
		  src="/images/view.svg">
		<img
		  v-show='!filter.readonly'
		  @click='setTokenAsReadOnly(filter.filter_id);'
		  src="/images/hand-write.svg">
		<img
		  @click='removeToken(filter.filter_id)'
		  src="/images/trash.svg">
              </div>

	    </div>
          </li>
        </ul>

	<div>
          <div class="buttontooltip" @click="addEditionToken()"> {{addEditionTokenButton}}
          </div>
        </div>
	
      </div>

    </div>

    
    <!-- 3 -->
    
    <div class="timeline-menu-token tooltip">
      <img src="/images/upload.svg">
      
      <p class="tooltipname">Files</p>

      <div class="tooltipcontent">

	<div>
	  Export <br/>
	  <div class="buttontooltip" @click="exportTimeline()">csv</div>
	</div>

	<div>
	  Import <br/>
	  <div class="buttontooltip">
	    <input type="file" style="opacity: 0.0; width: 100%; height: 100%; position: absolute; right:0px; cursor: pointer; top:0em" id="import-form" @change="importTimeline()">
	    csv
	  </div>
	</div>
      </div>
    </div>
    
    <!-- Filter -->

    <div
      class="timeline-menu-token tooltip"
      v-show="events.length != 0 && false"> <!-- Filter : for a near future ->
      <!-- <img src="/images/filter.svg"><p class="tooltipname">Filter</p> -->
      <div class="tooltipcontent">
	<div class="panel-default filtering-form" style='width:30em'>
	  <div class="navbar">
	    <ul class="inline">
	      <li id="filter-categories" class="active" >
		<div>Categories</div>
	      </li>
	      <li id="filter-ponderation">
		<div>Ponderation</div>
	      </li>
	      <li id="filter-other">
		<div>Other</div>
	      </li>
	    </ul>
	  </div>
	  <div id="filter-categories-content">
	    <div v-for="category in categories">
	      <div>
		<input type="checkbox" v-model="category.checked">
		{{category.catName}}
	      </div>
	    </div>
	  </div>
	  <div id="filter-ponderation-content" style="display:none">
	    <input
	      type="range"
	      v-model="minPonderationFilter"
	      min=0
	      :max="maxPonderationFilter"
	      > From <input type="number" v-model="minPonderationFilter">
	    <br/>
	    <input
	      type="range"
	      v-model="maxPonderationFilter"
	      :min="minPonderationFilter"
	      :max="maxBoundInPonderationFilter"> to <input type="number" v-model="maxPonderationFilter">
	  </div>
	  <div id="filter-other-content" style="display:none">
	    <input type="checkbox" v-model="alsoConfidential">
	    {{confidentialFilterForm}}
	  </div>
	  <!-- <div class="buttontooltip" @click="filter()">{{filterButtonText}}</div> -->
	</div>
      </div>
    </div>
    
    <!-- 4 -->
    
    <div class="timeline-menu-token tooltip" @click="showForm(true)">
      <img src="/images/add.svg"><p class="tooltipname">Create</p>
    </div>
    <!-- 5 -->
    <div
      class="timeline-menu-token tooltip"
      v-show="events.length != 0"
      @click="showForm(false)">
      <img src="/images/edit.svg"><p class="tooltipname">Edit</p>
    </div>
  </div>
  
</div>


<!-- PANEL AJOUT EVENT Taken from https://codepen.io/jonnitto/project/editor/XRPjxx -->
<div class="panel" id="formPanel">
  <form class="form-card">
    <fieldset class="form-fieldset">
      <legend class="form-legend">
	<span v-if="addingNewEvent">{{formNameAdding}}</span>
	<span v-else> {{formNameEditing}}</span>
	<span @click=hideForm() class="close fa fa-close fa-2x" style="float: right"></span>
      </legend>

      <!-- TITLE -->
      <div class="form-element form-input">
	<input
	  id="title"
	  class="form-element-field"
	  :placeholder="headlineFormHelp"
	  type="input"
	  v-model="headlineFormValue"
	  @keyup="updateDefaultId()"
	  required/>
	<div class="form-element-bar">
	</div>
	<label class="form-element-label" for="title">{{headlineFormTitle}}</label>
      </div>

      <div class="top-row">
	<!-- Start date -->
	<div class="form-element form-input 4u">
	  <input
	    id="start-date"
	    class="form-element-field -hasvalue"
	    :placeholder="new Date()"
	    type="date"
	    v-model="startDateFormValue"
	    required/>
	  <div class="form-element-bar"></div>
	  <label class="form-element-label" for="start-date">{{startDateFormTitle}}</label>
	</div>

	<!-- End date -->
	<div class="4u"><div class="form-element form-input">
	    <input
	      id="end-date"
	      class="form-element-field -hasvalue"
	      placeholder=" "
	      type="date"
	      v-model="endDateFormValue"
	      />
	    <div class="form-element-bar"></div>
	    <label class="form-element-label" for="end-date">{{endDateFormTitle}}</label>
	  </div>
	</div>
      </div>

      <!-- Media -->
      <div class="form-element form-input">
        <input
	  id="media"
	  class="form-element-field"
	  placeholder=" "
	  type="link"
	  v-model="mediaFormValue"
	  required/>
        <div class="form-element-bar"></div>
        <label class="form-element-label" for="media">{{mediaFormTitle}}</label>
        <small class="form-element-hint">{{mediaFormHelp}}</small>
      </div>

      <!-- DESCRIPTION -->
      <div class="form-element form-textarea">
        <textarea
	  id="field-3naeph-0f3yuw-x153ph-dzmahy-qhkmgm"
	  class="form-element-field"
	  :placeholder="textFormHelp"
	  v-model="textFormValue"></textarea>
        <div class="form-element-bar"></div>
        <label class="form-element-label" for="field-3naeph-0f3yuw-x153ph-dzmahy-qhkmgm">{{textFormTitle}}</label>
      </div>


      <!-- CATEGORIES -->

      <div class="form-element form-select">
        <select
	  id="category-select-form"
	  class="form-element-field"
	  v-model="categoriesFormValue"
	  >
	  <option v-for="item in categories" :key="item.id" :value="item.catId">
	    <span>{{ item.catName }}</span>
	  </option>
	  <option value="__other__category__">...️</option>
	</select>
	<input
	  type="text"
	  placeholder="Name this new category"
	  v-model="otherCategoryFormValue"
	  v-show="categoriesFormValue=='__other__category__'">
        <div class="form-element-bar"></div>
        <label class="form-element-label" for="category-select-form">Select a category</label>
      </div>
      <!-- TAGS (FEATURE NON PRETE)
      <div class="form-element form-input">
        <input
	  id="tags"
	  class="form-element-field"
	  placeholder=" "
	  type="link"
	  v-model="tagsFormValue"
	  :placeholder="tagsFormHelp"
	  required/>
        <div class="form-element-bar"></div>
        <label class="form-element-label" for="field-3naeph-0f3yuw-x153ph-dzmahy-qhkmgm">
	  {{tagsFormTitle}}
	</label>
      </div> -->

      <!-- Weight (FEATURE NON PRETE)
      <div class="form-element form-input">
	<input
	  id="field-omv6eo-metm0n-5j55wv-w3wbws-6nm2b9"
	  class="form-element-field"
	  :placeholder="ponderationFormHelp"
	  v-model.number="ponderationFormValue"
	  type="number" required/>
	<div class="form-element-bar">
	</div>
	<label class="form-element-label" for="field-omv6eo-metm0n-5j55wv-w3wbws-6nm2b9">
	  {{ponderationFormTitle}}
	</label>
      </div>  -->

      <!-- CONFIDENTIAL (FEATURE NON PRETE)
      <div class="form-checkbox form-checkbox-inline">
	<label class="form-checkbox-label">
	  <input
	    class="form-checkbox-field"
	    type="checkbox"
	    v-model="confidentialFormValue"
	    />
	  <i class="form-checkbox-button"></i>
	  <span>{{confidentialFormTitle}}</span>
	</label>
	<small class="form-element-hint">{{confidentialFormHelp}}</small>

      </div>  -->


      <!-- URL (FEATURE NON PRETE)
      <div class="form-element form-input">
	<input
	  id="unique-id-default-form"
	  class="form-element-field"
	  :placeholder="uniqueIdFormHelp"
	  v-model="uniqueIdFormValueDefault"
	  type="input"
	  @click="switchToMainInput()"
	  />
	<input
	  id="unique-id-form"
	  class="form-element-field"
	  :placeholder="uniqueIdFormHelp"
	  v-model="uniqueIdFormValue"
	  type="input"
	  @change="switchToDefaultInput()"
	  style="display:none"
	  required/>
	<div class="form-element-bar">
	</div>
	<label class="form-element-label" for="unique-id">{{uniqueIdFormTitle}}</label>

      </div> -->

      <!-- FIN DU FORMULAIRE -->


    </fieldset>
    <div class="form-actions">

      <div
	class="button special"
	id="edit-add"
	@click=addEvent(addingNewEvent)>
	<span v-if="addingNewEvent">{{addEventButtonText}}</span>
	<span v-else>{{updateEventButtonText}}</span>
      </div>

      <div class="button special" id="back-from-edit" @click=hideForm()>{{backButton}}</div>

      <div class="button special" v-show="!addingNewEvent" @click=removeFromForm()>
	{{removeButton}}
      </div>

      <span @click=hideForm() class="close"></span>

    </div>
  </form>
</div>
