<!--
    Theory by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
  -->

<!-- Header -->
<header id="header">
  <div class="inner">
    <a href="index.html" class="logo">{{logo}}</a>
  <!--  <nav id="nav">
      <a href="#create-timeline"><button class="special">{{navHome}}</button></a>
    </nav>
      -->
  </div>
</header>

<!-- Banner -->
<section id="banner">
  <h1>{{title}}</h1>
  <p>{{subtitle}}</p>
  	<form id="create-form">
  	<div class="timeline-menu-home-token tooltip">
      <img src="/images/list.svg">
      <div class="tooltipcontent" style="width:15em !important;left:50px; top:0px !important; bottom: unset !important;">
        <ul>
          <li class="homecroptoken" v-for="item in cookieTimelines">
            <div style='float: right; display: inline-block'>
            <a class="TooltipImgLink" :href="item.url">{{item.name}}</a>
            <img class="imghometooltip"  src="/images/upload.svg">
            <img class="imghometooltip" src="/images/trash.svg">
            </div>

          </li>
        </ul>
        <div class="buttontooltip">Import a timeline</div>
	          <div class="buttontooltip" v-if="cookiesEnabled" @click="disableCookies()">
	    {{disableCookiesButtonText}}
	  </div>
	  <div class="buttontooltip" v-else @click="enableCookies()">
	    {{enableCookiesButtonText}}
	  </div>
      </div>
</div>
	  <input
	    class="HomePlaceholder"
	    :placeholder="createNamePlaceholder"
	    :title="createNameHelp"
	    v-model="createNameValue"
	    >
	  <div class="button home" @click="createTimeline()">{{createButtonMessage}}</div>
    </form>

</section>

<section id="one" class="wrapper">
  <div class="inner">
    <article>
	  <header>
	    <h3 >{{shareTitle}}</h3>
	  </header>
	  <p>{{shareDescr}}</p>
    </article>
    <article id="create-timeline">
      <header>
	    <h3>{{createTimelineTitle}}</h3>
	  </header>
	  <p>{{createDescr}}</p>
    </article>
    <!--<article>
	  <header>
	    <h3>{{securityTitle}}</h3>
	  </header>
	  <p>{{securityDescr}}</p>
    </article>-->
  </div>
</section>
