
<!-- Header -->
<header id="header" style="position: sticky; height: 0px; top: 0px;">
  <span
    class="showFormSpan tooltip fa fa-pencil fa-2x"
    @click="showForm(false)"
    v-show="event_list.length != 0">
    <span class="tooltiptext">
      {{editElementHelp}}
    </span>
  </span>
  <span
    id="add-event-span"
    class="showFormSpan tooltip fa fa-plus fa-2x"
    @click="showForm(true)"
    >
    <span class="tooltiptext">
      {{addElementHelp}}
    </span>
  </span>
  <span
    class="tooltip fa fa-download fa-2x"
    @click="exportTimeline()"
    >
    <span class="tooltiptext">
      {{exportHelp}}
    </span>
  </span>
</header>


<!-- Timeline -->
<div id="timeline-embed" style="height: 600px;"></div>

<!-- Filters & Panel -->

<div class="row uniform" id="timeline-filters" style="margin:10px">
  <form method="post" action="#" class="6u">
    <h3>{{categoryHeader}}</h3>
    <cat
      v-for="categ in categories"
      :category="categ"
      :key="categ.id"
      ></cat>
    <h3>{{otherFiltersHeader}}</h3>
    <input
      v-model.number="minPonderationFilter"
      type="number"
      id="min-ponderation"
      min="0"
      :max=maxPonderationFilter
      :title="ponderationHelp">
    <label for="min-ponderation"> {{minPonderationLabel}} </label>
    <input
      v-model.number="maxPonderationFilter"
      type="number"
      :min=minPonderationFilter
      :title="ponderationHelp">
    <label for="max-ponderation"> {{maxPonderationLabel}} </label>
    <div class="button special" :title="filterHelp" @click="filter()"> {{filterButtonText}} </div>
  </form>
  
  <div class="6u">
    <h3>{{panelHeader}}</h3>
  </div>
</div>

<div id="navPanel">
  <h3 style="color: white">
    <span v-if="addingNewEvent">{{formNameAdding}}</span>
    <span v-else> {{formNameEditing}}</span>    
  </h3>
  <div class="row uniform">
    <div class="4u">
      {{startDateFormTitle}}<br/>
      <span class="verysmall">{{startDateFormHelp}}</span>
    </div>
    <div class="8u">
      <input
	id="start-date"
	class="placeholder"
	type="date"
	v-model="startDateFormValue">
    </div>
  </div>
  <div class="row uniform">
    <div class="4u">
      {{endDateFormTitle}}<br/>
      <span class="verysmall">{{endDateFormHelp}}</span>
    </div>
    <div class="8u">
      <input
	id="end-date"
	type="date"
	v-model="endDateFormValue">
    </div>
  </div>
  <div class="row uniform">
    <div class="4u">
      {{mediaFormTitle}}<br/>
      <span class="verysmall">{{mediaFormHelp}} <a href='https://timeline.knightlab.com/docs/media-types.html'>{{mediaLink}}</a></span>
    </div>
    <div class="8u">
      <input
	id="media"
	type="text"
	v-model="mediaFormValue"
	>
    </div>
  </div>
  <div class="row uniform">
    <div class="4u">
      {{headlineFormTitle}}<br/>
      <span class="verysmall">{{headlineFormHelp}}</span>
    </div>
    <div class="8u">
      <input
	id="title"
	type="text"
	v-model="headlineFormValue"
	>
    </div>
  </div>
  <div class="row uniform">
    <div class="4u">
      {{uniqueIdFormTitle}}<br/>
      <span class="verysmall">{{uniqueIdFormHelp}}</span>
    </div>
    <div class="8u">
      <input
	id="unique-id"
	type="text" 
	v-model="uniqueIdFormValue">
    </div>
  </div>
  <div class="row uniform">
    <div class="4u">
      {{categoriesFormTitle}}<br/>
      <span class="verysmall">{{categoriesFormHelp}}</span>
    </div>
    <div class="8u">
      <cat-select
	v-for="categ in categories"
	:category="categ"
	:key="categ.id"
	></cat-select>
      <div class="row uniform">
	<input
	  type='radio'
	  v-model='categoriesFormValue'
	  id='other-category'
	  name='category-selection'
	  value='__other__category__'>
	<label for='other-category'> {{newCategory}} </label>
      </div>
      <input
	type="text"
	v-model="otherCategoryFormValue"
	v-show="categoriesFormValue=='__other__category__'">
    </div>
  </div>
  <div class="row uniform">
    <div class="4u">
      {{textFormTitle}}<br/>
      <span class="verysmall">{{textFormHelp}}</span>
    </div>
    <div class="8u">
      <textarea
	id="text"
	style="resize: both;"
	v-model="textFormValue"
	>
      </textarea>
    </div>
  </div>
  <div class="row uniform">
    <div class="4u">
      {{tagsFormTitle}}<br/>
      <span class="verysmall">{{tagsFormHelp}}</span>
    </div>
    <div class="8u">
      <input
	id="tags"
	type="text"
	v-model="tagsFormValue">
    </div>
  </div>
  <div class="row uniform">
    <div class="4u">
      {{ponderationFormTitle}}<br/>
      <span class="verysmall">{{ponderationFormHelp}}</span>
    </div>
    <div class="8u">
      <input
	min="0"
	id="ponderation"
	value="0"
	type="number"
	v-model.number="ponderationFormValue"	
	>
    </div>
  </div>
  <div class="row uniform">
    <label
      for="confid"
      class="4u"
      >
      <span style="cursor: pointer">
	{{confidentialFormTitle}}<br/>
	<span class="verysmall">{{confidentialFormHelp}}</span>
      </span>
    </label>
    <input
      id="confid"
      type="checkbox"
      v-model="confidentialFormValue"
      class="8u"
      >
  </div>
  <div
    class="button special"
    id="edit-add"
    @click=addEvent(addingNewEvent)>
    <span v-if="addingNewEvent">{{addEventButtonText}}</span>
    <span v-else>{{updateEventButtonText}}</span>
  </div>
  <div class="button special" id="back-from-edit" @click=hideForm()>{{backButton}}</div>
  <div class="button special" v-show="!addingNewEvent" @click=removeEvent()>{{removeButton}}</div>
  <span @click=hideForm() class="close"></span>
</div>
