[submodule "libs/ocplib-jsutils"]
	path = libs/ocplib-jsutils
	url = git@github.com:OCamlPro/ocplib-jsutils
[submodule "libs/ez-api"]
	path = libs/ez-api
	url = https://github.com/OCamlPro/ez-api.git
[submodule "libs/ez-pgocaml"]
	path = libs/ez-pgocaml
	url = https://github.com/OCamlPro/ez-pgocaml
