html {
    --panel-bg-color: transparent;
    --main-bg-color: #eaeaea;
    --main-panel-title-font-family: Lato, sans-serif;
    --page-size-text-color: #337ab7;
    --main-text-color: black;
    --active-bg-color: #fafafa;
    --disable-text-color: #aaaaaa;
    --tl-bg-color: transparent;
}

@font-face{
    font-family: fontin-reg;
    src: url(/css/fonts/Fontin-Regular.ttf);
}

.tl-timeline h1, .tl-timeline h2, .tl-timeline h3 {
    font-size: 28px;
    line-height: 28px;
    font-family: fontin-reg;
}

h2.tl-headline{
    color: white !important
}

h2.tl-headline-fadeout {
    color: black !important
}

.tl-slidenav-next .tl-slidenav-icon, .tl-slidenav-previous .tl-slidenav-icon {
    font-family: tl-icons;
}

.tl-timegroup {
    background-color:var(--tl-bg-color)
}

.tl-timenav {
    background-color:var(--tl-bg-color)
}

.tl-timegroup-alternate {
    background-color:var(--tl-bg-color)
}

.tl-timegroup-message {
    color: black !important;
}

.tl-slide {
    background-color: #0971B3
}

.tl-text {
    color: black
}

.tl-text-content a {
    color: white !important
}

.tl-timegroup-message {
    z-index: 100
}

.tl-text-content p {
    color: black
}

/* panel */

table {
    background-color: transparent;
}

.panel table {
    margin-bottom: 0px;
}

.panel {
    background-color: var(--panel-bg-color);
}
.panel-primary {
    border: unset;
}
.panel-primary .panel-heading {
    border: unset;
}
.panel-primary .panel-title {
    color: var(--main-text-color) ;
}
.panel-primary .panel-footer {
    background-color: var(--body-bg-color) !important;
}
.panel h4 {
    text-align: center;
    font-weight: bold;
}
.panel table {
    margin-bottom: 0px;
}
.panel-heading {
    background-color: var(--body-bg-color) !important;
    font-family: var(--main-panel-title-font-family) !important;
}
.panel .paginate {
    text-align: right;
}
.page-size {
    vertical-align: baseline !important;
    margin-right: 10px;
    color: var(--page-size-text-color);
}
.page-size .btn {
    color: var(--page-size-text-color);
    background-color: transparent;
}
.panel-body {
    padding : 0px;
    text-align: center;
}
.pagination {
    margin: 0;
}
.page-input {
    min-width: 45px;
    max-width: 70px;
}
.tab-content .panel {
    border:unset;
    padding: 0;
}
.tab-content .panel .panel-body {
    border:unset;
    padding: 0;
}

/* table */

.default-table {
    font-size: 13px;
    border-collapse: separate;
}
.defaukt-table th {
    color: var(--main-text-color);
}
.default-table td {
    overflow: hidden ;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--main-text-color);
}
.default-table th.arrow {
    width: 25px;
}

.panel li a {
    display: block;
    padding: 5px;
    margin: 3px;
    cursor: pointer
}

.panel li.disabled a {
    color: var(--disable-text-color)
}

.panel li.active a {
    color: var(--disable-text-color);
    background-color: var(--active-bg-color);
}

tr:hover.clickable {
    text-decoration: underline
}

/* Temporary */

.fade {
    opacity: 1 !important
}
