.tl-timegroup{
    background-color:#FFB040
}

.tl-timegroup-alternate{
    background-color:#FFBA59 !important
}

.tl-timenav{
    background-color:#FFB040
}

.tl-timegroup-message{
    color: black !important;
}

.tl-slide{
    background-color: #0971B3
}

.tl-text p {
    color: black !important
}
